@font-face {
  font-family: 'System85';
  src: url('../public/fonts/System85Trial-Bold.woff2') format('woff2'),
      url('../public/fonts/System85Trial-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FoundersGroteskMono';
  src: url('../public/fonts/FoundersGroteskMono-Regular.woff2') format('woff2'),
      url('../public/fonts/FoundersGroteskMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}