/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';
@import '_locomotive.css';
@import '_carousel.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-mono antialiased text-black bg-white selection:bg-black selection:text-white;
}

.cover-image {
  & img {
    @apply object-cover object-center;
  }
}

.image {
  & span {
    @apply will-change-transform !important;
  }

  & img {
    @apply will-change-transform !important;
  }
}

.list-child li:nth-child(even) {
  @apply bg-[#FBEDE1];
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.image-stack {
  opacity: 0;
  animation: fadein 0.2s steps(1, end) forwards;
}

.image-stack-1 {
  animation-delay: 1000ms;
}
.image-stack-2 {
  animation-delay: 2000ms;
}
.image-stack-3 {
  animation-delay: 3000ms;
}
.image-stack-4 {
  animation-delay: 4000ms;
}
.image-stack-5 {
  animation-delay: 5000ms;
}